<div class="seccion">
<h2>Tabla</h2>
<div *ngFor="let row of datosTabla | tablasPipe: 13">
  <div class="divTabla" [ngClass]="{'seccion': row.length <= 13}">
    <!-- Aquí creamos una tabla por cada conjunto de 20 filas -->
    <table class="mi-tabla">
      <thead>
        <tr>
          <!-- Encabezados de la tabla -->
          <th *ngFor="let item of row[0] | keyvalue">{{ item.key }}</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas de la tabla -->
        <tr *ngFor="let fila of row">
          <td *ngFor="let item of fila | keyvalue">{{ item.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>