h2 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-top: 10;
  }
  ul {
    display: block;
  }
  li {
    font-size: 14;
    color: black !important;
  }
  .divLista{
    padding: 0px;
  }
